.container{
    width: 100%;
    height: 60px;
    background: #CD5888;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

}

.icon{
margin-right: 2%;
display: flex;
align-items: center;
justify-content: center;
}

.name{
    font-size: 1.5rem;
    font-family: Georgia, serif;
    font-weight: 400;
    margin: 0;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:azure;
    
}