<div class="footer">
  <div *ngFor="let element of personaje | rray" class="container_foo">
    <p class="titulo_con">¿Tienes algún Proyecto? Hablemos</p>
    <div
      *ngFor="let elements of element.contacto | rray"
      class="container_foo_1"
    >
      <p class="titulo_1">Teléfono</p>
      <p class="titulo_2">{{ elements.numero }}</p>
      <p class="titulo_1">Deja tu mensaje.</p>
      <p class="titulo_2">{{ elements.correo }}</p>
      <div class="ico">
        <p class="titulo_1">Linkedin</p>
        <a mat-raised-button href="{{ elements.linke }}">
          <img src="../../../assets/linke.png" class="img_1" />
        </a>
        <p class="titulo_1">Git Hub</p>
        <a mat-raised-button href="{{ elements.Git }}"
          ><img src="../../../assets/github-removebg-preview.png" class="img_1"
        /></a>
        <p class="titulo_1">Canlendly</p>
        <a mat-raised-button href="{{ elements.calen }}"
          ><img src="../../../assets/plazo.png" class="img_1"
        /></a>
      </div>
    </div>
  </div>
  <div class="container_form">
    <form class="form">
      <input type="text" id="name" placeholder="Nombre..." class="input_name" />
      <input
        type="text"
        id="correo"
        placeholder="Correo Electronico..."
        class="input_name"
      />
      <textarea
        type="text"
        id="descripcion"
        placeholder="Descripcion..."
        class="input_name"
      ></textarea>
      <button class="button_6">Enviar</button>
    </form>
  </div>
</div>
